<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="Framework.Qlh.Log.Config.ConfigSectionHandler, Framework.Qlh.Log" />
  </configSections>
  <nlog autoReload="true">
    <appenders>
      <appender name="console" type="Console" layout="${machinename}" />
    </appenders>

    <rules>
      <logger name="*" level="Debug" appendTo="console" />
    </rules>
  </nlog>
</configuration>