<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mLog" type="Framework.Qlh.Log.Config.ConfigSectionHandler, Framework.Qlh.Log" />
  </configSections>
  <mLog autoReload="true">
    <appenders>
      <appender name="console" type="Console" layout="${machinename}:${message}" />
    </appenders>
    <rules>
      <logger name="*" level="Debug" appendTo="console" />
    </rules>
  </mLog>
</configuration>