################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Framework.Qlh.Infrastructure/packages
/Framework.Qlh.Infrastructure/SDKTests/bin/Debug
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/SDKTests.csproj.FileListAbsolute.txt
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/SDKTests.csprojResolveAssemblyReference.cache
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/SDKTests.dll
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/SDKTests.pdb
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Framework.Qlh.Infrastructure/SDKTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Framework.Qlh.Infrastructure/SDK/obj/Debug
/Framework.Qlh.Log/packages
/Framework.Qlh.Log/SDKTests/bin/Debug
/Framework.Qlh.Log/SDKTests/obj/Debug
/Framework.Qlh.Log/SDK/obj/Debug
